{#
/**
 * Layout provider: flex-builder
 * Template suggestion: page
 */
#}
{{ attach_library('landcam_adaptive/landcam_adaptive.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
