@media all and (min-width: 60.0625em) {
  .node--type-news.node--view-mode-full .field-type-image__figure { 
  float: left;
  margin: 0 0 0 0;
 }
}
@media all and (min-width: 60.0625em) {
  .node--type-news.node--view-mode-teaser .field-type-image__figure { 
  float: left;
  margin: 0 0 0 0;
 }
}
@media all and (min-width: 45.0625em) and (max-width: 60em) {
  .node--type-news.node--view-mode-full .field-type-image__figure { 
  float: left;
  margin: 0 0 0 0;
 }
}
@media all and (min-width: 45.0625em) and (max-width: 60em) {
  .node--type-news.node--view-mode-teaser .field-type-image__figure { 
  float: left;
  margin: 0 0 0 0;
 }
}
@media all and (max-width: 45em) {
  .node--type-news.node--view-mode-full .field-type-image__figure { 
  float: left;
  margin: 0 0 0 0;
 }
}
@media all and (max-width: 45em) {
  .node--type-news.node--view-mode-teaser .field-type-image__figure { 
  float: left;
  margin: 0 0 0 0;
 }
}